In [1]:
from itertools import product
from multiprocessing import Pool, Process
from concurrent.futures import ProcessPoolExecutor, as_completed
import time
import pandas as pd
import numpy as np
import seaborn as sns

# import IchimokuLibrary as mtF

import IchimokuLibrary

In [3]:
data = pd.read_csv("data2.csv", index_col=0, parse_dates=True)
data = data.drop(columns=["High", "Low", "Open", "Volume"])

In [4]:
(IchimokuLibrary.confidence_interval)

In [5]:
returns = (np.log(data["Close"] / data["Close"].shift(1)).dropna())

In [ ]:
ichi_data = IchimokuLibrary.apply_ichi(data["Close"], 5, 17, 37)

,Close,tenkan,kijin,chikou,span_a,span_b
Date,,,,,,
2015-01-02,2058.199951,NaN,NaN,2002.160034,NaN,NaN
2015-01-05,2020.579956,NaN,NaN,2021.250000,NaN,NaN
2015-01-06,2002.609985,NaN,NaN,1994.989990,NaN,NaN
2015-01-07,2025.900024,NaN,NaN,2020.849976,NaN,NaN
2015-01-08,2062.139893,2032.374939,NaN,2050.030029,NaN,NaN
...,...,...,...,...,...,...
2024-12-24,6040.040039,5953.560059,5978.675049,NaN,5976.179932,5868.915039
2024-12-26,6037.589844,5953.560059,5978.675049,NaN,5988.072510,5876.300049
2024-12-27,5970.839844,5985.445068,5978.675049,NaN,5992.280029,5877.665039
2024-12-30,5906.939941,5973.489990,5978.675049,NaN,6010.585205,5895.970215
2024-12-31,5881.629883,5960.834961,5978.675049,NaN,6018.995117,5895.970215